[user]
        email = simonhelgen1@gmail.com
        name = NorwegianKiwi-glitch
[url "https://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:@github.com/"]
        insteadOf = https://github.com/NorwegianKiwi-glitch
