[user]
        email = simonhelgen1@gmail.com
        name = NorwegianKiwi-glitch
[url "https:/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:@github.com/"]
        insteadOf = https://github.com/NorwegianKiwi-glitch
